<!DOCTYPE html>
<html>
<head>
	<title>Edit Data</title>
	<h1><marquee>Edit Details</marquee></h1>
</head>
<body>
	<style >
		h1{
			color: red;		}
		body{
			background: black;
			text-align: center;
		}
		#p{
			color: white;
			text-align: center;
		}
	</style>
	<form action="#" method="post" id ='p'>
		Name<input type="text" name="name" value="{{register.name}}"><br><br>
		Branch<input type="text" name="branch" value="{{register.branch}}"><br><br>
		<input type="submit" value="Update">
	</form>
</body>
</html>