<!DOCTYPE html>
<html>
<head>
	<title>ADD DATA</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
	<div class="container">
	<h1><marquee>Registration Form</marquee></h1>
	<form action="#" method="post">
		Name<input type="text" name="name"><br><br>
		Surname<input type="text" name="surname"><br><br>
		Rollno<input type="text" name="rollno"><br><br>
		Mobile<input type="text" name="mobile"><br><br>
		Branch<input type="text" name="branch"><br><br>
		<input type="submit" value="Register">
	</form>
</body>
</html>