<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		h1{
			color: blue;
			text-align: center;
		}
		h2{
			color: red;
			text-align: center;
		}
		h3{
			color: orange;
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>WELCOME TO BVC</h1>
	<h2>STUDENT REGISTRATION</h2>
	<h3>Name   <input type="text"></h3>
	<h3>Surname<input type="text"></h3>
	<h3>Email  <input type="text"></h3>
	<h3>Mobile <input type="text"></h3>
	<h3>Branch <input type="text"></h3>
	<h3>Year   <input type="text"></h3>
</body>
</html>